.site-nav,
.site-header,
.site-footer {
  width: 100%;
}

// $content-width: 1500px;
.main-content {
    margin-left: $nav-width; /* Adjust here to match the new sidebar width */
}

.side-bar {
  @include mq(lg) {
    width: $nav-width;
    min-width: $nav-width;
    // width: min-content;
    // min-width: min-content;
  }
}

.table-wrapper {
  @include mq(lg) {
    width: auto;
  }
}

.main {
  @include mq(lg) {
    margin-left: 30px;
    margin-right: 30px;
    // min-width: 2000px;
    max-width: 1920px;
  }
}
